
<div class="create-course-panel data-form">

  <h2 class="title">Create New Course</h2>

  <mat-horizontal-stepper class="mat-elevation-z5" [linear]="false" labelPosition="bottom">

    <mat-step [stepControl]="step1.form" errorMessage="Landing page still have error">

      <ng-template matStepLabel>
        course landing page detail
      </ng-template>
  
      <create-course-step-1 #step1></create-course-step-1>

        <div class="stepper-buttons">
          <button mat-raised-button color="primary" matStepperNext> Continue to step 2</button>
        </div>
        
    </mat-step>
    
    <mat-step errorMessage="Landing page still have error">
      <create-course-step-2></create-course-step-2>

      <button mat-raised-button matStepperPrevious>
        Back
      </button>

      <button mat-raised-button matStepperNext color="primary">
        Next to 3
      </button>
    </mat-step>

  </mat-horizontal-stepper>
    
</div>


